extends layout

block content
	h1= title
	p Welcome to #{title}
	nav.nav-bar 
		a(href="/") Translate
		a(href="/quiz") Quiz
		a(href="/progress") Progress
	br
	div.container
		form#translation-form
			label From: 
			select.lang-from
				option(value="eng") English
				option(value="spa") Spanish
				option(value="fra") French
			br
			label To: 
			select.lang-to
				option(value="eng") English
				option(value="spa") Spanish
				option(value="fra") French

			br
			br
			input#translation-text(type="text", name="translate-text", placeholder="hello") 
			br
			button.btn.btn-primary.submit-btn(type="submit") Submit
			div#translation-repo
